--trusted-host arti.hpc.amslabs.hpecorp.net
--trusted-host artifactory.algol60.net
--index-url https://arti.hpc.amslabs.hpecorp.net:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
-c constraints.txt
-r requirements.txt
boto3-stubs
botocore-stubs
mypy
types-jsonschema
types-python-dateutil
types-PyYAML
types-requests
types-urllib3
