apiVersion: batch/v1
kind: Job
metadata:
  name: {{ boa_job_name }}
  namespace: services
spec:
  template:
    spec:
      containers:
      - name: boa
        image: "{{ boa_image.repository }}:{{ boa_image.tag }}"
        volumeMounts:
        - name: boot-session
          mountPath: /mnt/boot_session
        - name: ca-pubkey
          mountPath: /etc/cray/ca
          readOnly: true
        env:
          - name: OPERATION
            value: "{{ operation }}"
          - name: SESSION_ID
            value:  "{{ session_id }}"
          - name: SESSION_TEMPLATE_ID
            value:  "{{ session_template_id }}"
          - name: SESSION_LIMIT
            value:  "{{ session_limit }}"
          - name: DATABASE_NAME
            value: "{{ DATABASE_NAME }}"
          - name: DATABASE_PORT
            value: "{{ DATABASE_PORT }}"
          - name: LOG_LEVEL
            value: "{{ log_level  }}"
          - name: S3_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: {{ s3_credentials }}
                key: access_key
          - name: S3_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: {{ s3_credentials }}
                key: secret_key
          - name: GIT_SSL_CAINFO
            value: /etc/cray/ca/certificate_authority.crt
          - name: S3_PROTOCOL
            value: "{{ S3_PROTOCOL }}"
          - name: S3_GATEWAY
            value: "{{ S3_GATEWAY }}"
          - name: NODE_STATE_CHECK_NUMBER_OF_RETRIES
            value: "{{ NODE_STATE_CHECK_NUMBER_OF_RETRIES }}"
          - name: GRACEFUL_SHUTDOWN_TIMEOUT
            value: "{{ GRACEFUL_SHUTDOWN_TIMEOUT }}"
          - name: FORCEFUL_SHUTDOWN_TIMEOUT
            value: "{{ FORCEFUL_SHUTDOWN_TIMEOUT }}"
          - name: GRACEFUL_SHUTDOWN_PREWAIT
            value: "{{ GRACEFUL_SHUTDOWN_PREWAIT }}"
          - name: POWER_STATUS_FREQUENCY
            value: "{{ POWER_STATUS_FREQUENCY }}"
          - name: VCS_USERNAME
            valueFrom:
              secretKeyRef:
                name: vcs-user-credentials
                key: vcs_username
          - name: VCS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: vcs-user-credentials
                key: vcs_password
      volumes:
      - name: boot-session
        configMap:
          name: {{ session_id }}
      - name: ca-pubkey
        configMap:
          defaultMode: 420
          items:
          - key: certificate_authority.crt
            path: certificate_authority.crt
          name: cray-configmap-ca-public-key
      restartPolicy: Never
      security_context:
        run_as_non_root: true
        run_as_user: 65534
        run_as_group: 65534 
  backoffLimit: 4
