
[Unit]
Description=bos-status-reporter reports boot session information periodically to the BOS API
DefaultDependencies=no
After=multi-user.target

[Service]
Environment="MODULEFLAG=-m"
Environment="MODULENAME=bos.reporter.status_reporter"
Type=simple
ExecStart=/usr/bin/python3 ${MODULEFLAG} ${MODULENAME}

[Install]
WantedBy=multi-user.target
